.promo {
    padding: 80px 0px;

    &__info {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__separator {
        margin-bottom: 16px;
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 44px;
        font-size: 40px;
        font-weight: 800;
    }

    &__desc {
        font-size: 18px;
        font-weight: 400;
        color: #5A5A5A;
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 68px;
    }

    &__img {
        max-width: 450px;
    }
}
